{% extends 'core/base.html'%}

{% load static %}
<title>{% block title %}Solicitud Enviada{% endblock %}</title>
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/restablecer.css' %}">
    <div class="container_reset">
        <div class="container-soli">
            <h2 class="title-soli">SOLICITUD DE CONTRASEÑA ENVIADA</h2>
            <p class="parrafo-soli">Se ha enviado un correo electrónico a tu Gmail con instrucciones para restablecer tu contraseña. Por favor, verifica tu bandeja de entrada y la carpeta de correo no deseado.</p>   
        </div>
        <div  class="boton_regresar">
            <a style="color: rgb(48, 39, 39);" href="{% url 'inicio' %}" class="form-resta">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>REGRESAR</a>
        </div>
    </div>
{% endblock %}
