{% extends 'core/base.html'%}

{% load static %}
<title>{% block title %}Confirmacion Contraseña{% endblock %}</title>

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/exito.css' %}">



<div class="container-complete">
<h2  class="title-comple">¡¡CONTRASEÑA RESTABLECIDA CON EXITO!!</h2>
<p class="parrafo-comple">Tu contraseña se ha restablecido correctamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
<div class="boton-fina">
    <a style="color: rgb(48, 39, 39);" href="{% url 'login' %}" class="finalizar_b" >INICIAR SESION</a>
    <div class="boton_regresar">
        <a style="color: rgb(48, 39, 39);" href="{% url 'inicio' %}" class="volver">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/><br>
</svg> REGRESAR</a>
    </div>
</div>
</div>
{% endblock %}
