{% extends 'core/base.html'%}

{% load static %}
<title>{% block title %}Restablecer Contraseña{% endblock %}</title>

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/resett.css' %}">

<div class="container-restablecer">
<form method="POST" action="{% url 'password_reset' %}" class="form-restablecer">
    {% csrf_token %}
    <h2 class="title-contra">RESTABLECER CONTRASEÑA</h2>

    <p>Ingresa la dirección de correo con la que te registraste</p>
        <input type="email" name="email" autofocus maxlength="254" required id="id_username" class="form-control" placeholder="Ingrese su correo"/>
      </p>
    <p><input type="submit" class="btn btn-success btn-block" value="Acceder"></p>

    <div class="boton_regresar">
     <a style="color: rgb(48, 39, 39);" href="{% url 'inicio' %}" class="volver">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/><br>
    </svg> REGRESAR</a>
</form>
</div>
<!--boton-->

</div>
</div>
{% endblock %}
