.container-confirmaa{
    max-width: 500px;
    margin: 0 auto;
    color:#070504;
    border-color: #f4f4f4;    
    padding: 20px;       
    background: linear-gradient(to bottom, #f4f4f4, #e7e7df);
    border: 1px solid  #f4f4f4;;
    border-radius: 5px;
    text-align: center;
    margin-top:100px;
    margin-bottom:100px;

}